#contact-main {
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  background: var(--contact-bg);
}

#contact-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  flex: 1.6;
  min-height: 90vh;
  position: relative;
  padding-bottom: 100px;
  /* gap: 50px; */
}

#contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 450px;
  width: 90%;
  color: var(--text);
  row-gap: 10px;
  /* font-family: Helvetica, sans-serif; */
}
#contact-title {
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--title);
  align-self: center;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.form-field label {
  color: rgba(0, 0, 0, 0.716);
  font-weight: 600;
  /* font-size: 1rem; */
}
.dark-mode .form-field label {
  color: rgba(212, 212, 234, 0.874);
  font-weight: 600;
  /* font-size: 1rem; */
}
.form-field input,
.form-field textarea {
  outline: none;
  padding: 7px;
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid var(--text);
  font-size: 1rem;
  color: black;
}
.dark-mode .form-field input,
.form-field textarea {
  color: rgba(255, 255, 255, 0.611);
}
.form-field textarea {
  height: 50px;
  min-height: 50px;
  max-height: 150px;
  resize: vertical;
  color: rgb(53, 52, 58);
}
#form-submit-button {
  font-size: 1.05rem;
  border: none;
  padding: 10px 20px;
  flex: 1;
  font-size: 1rem;
}

#resume-button {
  font-size: 1.2rem;
  margin: 15px 0px;
  font-weight: 600;
  color: rebeccapurple;
}

.dark-mode #resume-button {
  color: rgb(215, 191, 239);
}

#resume-button:hover {
  text-decoration: underline;
}
#contact-footer-div {
  flex: 1;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contact-footer-bg);
  padding: 50px 5%;
  position: relative;
  /* background-color: rgb(46, 16, 67); */
}
#contact-footer {
  /* border: 1px solid red; */

  display: flex;
  flex: 1;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 10px;
  color: white;
  max-width: 1000px;
  align-content: center;
  gap: 24px 48px;
}

#contact-footer a {
  font-size: 1.7rem;
  font-weight: bolder;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  padding: 0px;
  flex: 1;
  text-align: center;
}
.dark-mode #contact-footer a {
  color: rgb(173, 185, 201);
}

.dark-mode #footer-copy {
  color: rgb(159, 151, 173);
}

#contact-footer img {
  width: 40px;
}
#contact-footer .email-div {
  font-weight: 400;
}

.social-links {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  flex: 1;
  justify-content: center;
  align-items: start;
}
.social-links small {
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  /* border: 1px solid red; */
}
.social-links img {
  transition: all 0.2s;
  max-width: 35px;
  cursor: pointer;
}
.social-links img:hover {
  transform: scale(1.13);
}
.dark-mode #contact-footer small {
  color: rgb(139, 139, 139);
}

.contact-bottom-1 {
  background-image: url("/assets/images/contact-bottom-1.svg");
}
.contact-bottom-2 {
  background-image: url("/assets/images/contact-bottom-2.svg");
}

.dark-mode .contact-bottom-1 {
  background-image: url("/assets/images/contact-bottom-dark-1.svg");
}
.dark-mode .contact-bottom-2 {
  background-image: url("/assets/images/contact-bottom-dark-2.svg");
}
