* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 5px;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 8px 20px;
  border: none;
  /* border-radius: 20px; */
  /* border: 2px solid rgba(107, 64, 187, 0.637); */
  /* color: rgba(107, 64, 187, 0.637); */
  background-color: transparent;
  /* color: purple; */
  cursor: pointer;
}

.button-prime {
  font-size: 0.95rem;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 25px;
  background-color: rgb(107, 70, 157);
}

.button-prime:hover {
  background-color: rgb(121, 82, 172);
}
.button-sec {
  font-size: 0.95rem;
  border-radius: 5px;
  padding: 10px 25px;
  /* border: 1px solid gray; */
  /* background-color: rgb(218, 211, 233); */
  /* background-color: white; */
}
.dark-mode .button-link {
  color: rgb(216, 192, 248);
}
.button-link:visited {
  /* color: inherit; */
}
.button-link:hover {
  text-decoration: underline;
}

input,
textarea {
  /* border-color: linear-gradient(
    91.56deg,
    rgba(66, 64, 187, 0.63) 1.6%,
    rgba(203, 62, 206, 0.3) 96.85%
  ); */
}
