

.typing-text::after {
  content: "|";
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .typing-container {
    font-size: 1.5rem;
  }
}
