/* mini projects */

#project-main {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  gap: 5px;
  padding: 20px;
  padding-bottom: 100px;
  background-color: var(--project-bg);
  text-align: center;
}
#mini-project-title {
  color: var(--title);
}
#mini-project-subtitle {
  padding-bottom: 50px;
  color: var(--subtitle);
}
.mini-projects-lists {
  display: flex;
  flex-basis: 1;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2.5%;
  row-gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.project-item {
  background-color: var(--project-card-bg);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  flex-basis: 1;
  min-width: 200px;
  max-width: 220px;
  transition: 0.3s all;
  position: relative;
  border-radius: 23px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.281);

  min-height: 300px;
  border: 2px solid rgba(0, 0, 0, 0.199);
}

.project-item:hover {
  box-shadow: 3px 10px 16px 2px rgba(0, 0, 0, 0.315);
  z-index: 20;
  justify-content: flex-end;
}

.project-item:hover > .proj-img {
  width: 100%;
  height: 75%;
  top: -25%;

  transform: scale(1.1);
  z-index: 30;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
  border-radius: 5px;
}

.proj-img {
  position: absolute;
  width: 100%;
  height: 100%;
  flex: 1;

  border-radius: 20px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.img-1 {
  background-image: url("/assets/projects/pro5.jpg");
}
.img-2 {
  background-image: url("/assets/projects/pro6.png");
}
.img-3 {
  background-image: url("/assets/projects/pro7.png");
}
.img-4 {
  background-image: url("/assets/projects/pro8.png");
}

.dark-mode .project-item-img {
  filter: brightness(0.8);
}

.project-item-name {
  color: var(--project-card-name);
}

.project-item-desc {
  color: var(--project-card-desc);
  padding: 0px 10px;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}

.project-footer {
  display: flex;
  justify-content: space-between;
}

.project-preview-link {
  border-radius: 20px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  line-height: 1;
}
